.w-md-editor-toolbar button[data-name="edit"],
.w-md-editor-toolbar button[data-name="live"],
.w-md-editor-toolbar button[data-name="preview"] {
  display: none;
}
.preview-content pre {
  background-color: #004 !important; 
  color: #fff !important; 
  padding: 1rem;
  border-radius: 0.5rem; 
  overflow: auto;
}

.preview-content * {
  background-color: transparent !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}